<div class="mx-4 my-7 px-6 flex flex-col gap-6">
    <div class="flex justify-between text-gray-500 w-full">
        <span class="text-2xl font-medium ">Account Settings</span>
        <div class="flex gap-2 text-center">
            <mat-icon>notification</mat-icon>
            <img src="../../assets/circle.png" alt="" class="rounded-full h-8
                w-8">
            <span class="text-sm font-medium text-center"> John</span>
        </div>
    </div>
    <div class="flex gap-5">
        <div class="flex gap-2 text-center">
            <mat-icon>person</mat-icon>
            <span class="text-sm font-normal">Personal Info</span>
        </div>
        <div class="flex gap-2 my-auto">
            <mat-icon>key</mat-icon>
            <span class="text-sm font-normal">Password and security</span>
        </div>
        <div class="flex gap-2 my-auto">
            <mat-icon>notification</mat-icon>
            <span class="text-sm font-normal">Notifications</span>
        </div>
        <div class="flex gap-2 my-auto">
            <mat-icon>information</mat-icon>
            <span class="text-sm font-normal">Choose plan</span>
        </div>
    </div>
    <div class="flex flex-col gap-6 text-sm font-medium w-[50%]">
        <img src="../../assets/circle.png" alt="" class="rounded-full h-24
            w-24">
        <div class="flex justify-between flex-wrap w-full">
            <div class="flex flex-col ">
                <label for="">Firstname</label>
                <input type="text" placeholder="John" class="px-2 py-1
                    border-[1px]
                    border-black">
            </div>
            <div class="flex flex-col ">
                <label for="">Lastname</label>
                <input type="text" placeholder="Doe" class="px-2 py-1
                    border-[1px]
                    border-black">
            </div>
        </div>

        <div class="flex flex-col gap-1 ">
            <label for="">Email</label>
            <input type="text" placeholder="Doe@gamil.com" class="px-2 py-1
                border-[1px]
                border-black">
        </div>

        <div class="flex flex-col gap-1 ">
            <label for="">Phone Number</label>
            <input type="text" placeholder="+977 9845233556" class="px-2 py-1
                border-[1px]
                border-black">
        </div>
        <div class="flex flex-col gap-1 ">
            <label for="">District</label>
            <input type="text" placeholder="Kathmandu" class="px-2 py-1
                border-[1px]
                border-black">
        </div>
        <div class="flex justify-between">
            <div class="flex flex-col gap-1 ">
                <label for="">Zip Code</label>
                <input type="text" placeholder="Kathmandu" class="px-2 py-1
                    border-[1px]
                    border-black">
            </div>
            <div class="flex flex-col gap-1 ">
                <label for="">City</label>
                <input type="text" placeholder="Kathmandu" class="px-2 py-1
                    border-[1px]
                    border-black">
            </div>
        </div>
        <div class="flex justify-between">
            <div class="flex flex-col gap-1 ">
                <label for="">State</label>
                <input type="text" placeholder="Bagmati" class="px-2 py-1
                    border-[1px]
                    border-black">
            </div>
            <div class="flex flex-col gap-1 ">
                <label for="">Country</label>
                <input type="text" placeholder="Nepal" class="px-2 py-1
                    border-[1px]
                    border-black">
            </div>
        </div>
        <button class="py-1 text-center text-white bg-black">Save Changes</button>
    </div>
</div>
