<div class="mx-4 my-3 pr-5 w-full">
    <div class="flex justify-between">
        <span class="text-2xl font-medium text-gray-600">Dashboard</span>
        <div class="flex gap-2 my-auto">
            <mat-icon>notification</mat-icon>
            <img src="../../assets/circle2.png" alt="image" class="rounded-full
                h-7 w-7">
            <span class="text-sm font-medium text-center"> John Doe</span>
        </div>
    </div>
    <div class="flex my-6 w-full">
        <div class="flex flex-col w-[60%] gap-7 justify-between h-full">
            <div class="flex justify-between text-sm font-medium">
                <div class="flex flex-col bg-gray-100 p-3 w-[50%] gap-3
                    ">
                    <div class="flex justify-between">
                        <span>Total Balance</span>
                        <span class="text-blue-400">25%</span>
                    </div>
                    <span class="text-xl font-medium text-gray-600">USD
                        10,000.00</span>

                    <div class="flex justify-between items-end">
                        <div class="flex flex-col">
                            <span class="text-xs font-normal">Income</span>
                            <span>USD 30,000.00</span>
                        </div>
                        <div class="flex flex-col">
                            <span class="text-red-500 text-xs font-normal">Expenses</span>
                            <span>USD 20,000.00</span>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col bg-gray-100 p-3 w-[45%] gap-3 ">
                    <div class="flex justify-between">
                        <span>Total Savings</span>
                        <span class="text-blue-400">25%</span>
                    </div>
                    <span class="text-lg font-medium text-gray-600">USD
                        10,000.00</span>
                    <div class="h-16">Bar Diagram</div>
                </div>
            </div>
            <div class="bg-black px-3 py-3 text-white h-72">
                <div class="flex justify-between text-xs font-medium">
                    <span class="text-lg font-medium">Statistics</span>
                    <div class="flex gap-3 text-center iteems-center">
                        <div class="flex gap-1">
                            <div class="rounded-full bg-white h-2 w-2"></div>
                            <span class="font-medium text-xs">Expenses</span>
                        </div>
                        <div class="flex gap-1">
                            <div class="rounded-full bg-green-300 h-2 w-2"></div>
                            <span class="text-green-300">Income</span>
                        </div>
                    </div>
                    <select name="Last 7 days" id="" class="px-2 py-1
                        font-medium text-xs text-white bg-black border-white
                        border-[1px]">
                        <option value="last-7-days">Last 7 days</option>
                        <option value="last-7-days">Last 15 days</option>
                        <option value="last-7-days">Last 1 months</option>
                        <option value="last-7-days">Last 6 months</option>
                    </select>
                </div>
            </div>
            <div class="flex w-full justify-between gap-7 text-base
                font-medium">
                <div class=" flex flex-col gap-1 w-[50%] bg-purple-300 h-40 p-4
                    ">
                    <div class="flex justify-between">
                        <span>Goals</span>
                        <div class="flex gap-2">
                            <mat-icon>arrow</mat-icon>
                            <mat-icon>arrow</mat-icon>

                        </div>
                    </div>
                    <span class="text-xs font-normal">Summer Vacation</span>
                </div>
                <div class=" flex flex-col gap-2 w-[50%] bg-orange-300 h-40
                    p-4">
                    <span>Spending Overview</span>
                </div>
            </div>
        </div>
        <div class="flex flex-col mx-12 w-[40%] gap-5 justify-between">
            <div class="flex justify-between">
                <span class="text-lg font-medium">Transactions</span>
                <button class="font-sm text-gray-400 font-medium">view all</button>
            </div>
            <div class="flex gap-4 text-sm font-medium">
                <span>All</span>
                <span>Expenses</span>
                <span>Income</span>
            </div>
            <div class="flex flex-col justify-between"></div>
            <div class="flex justify-between">
                <div class="flex gap-2">
                    <img src="../../assets/circle3.jpg" alt="" class="h-7 w-7
                        rounded-full">
                    <div class="flex flex-col">
                        <span class="font-medium text-base">Centeral Beran</span>
                        <span class="text-xs font-normal ">Cafe and resturent</span>
                    </div>
                </div>
                <span>-$400</span>
            </div>
            <div class="flex justify-between">
                <div class="flex gap-2">
                    <img src="../../assets/circle3.jpg" alt="" class="h-7 w-7
                        rounded-full">
                    <div class="flex flex-col">
                        <span class="font-medium text-base">Centeral Beran</span>
                        <span class="text-xs font-normal ">Cafe and resturent</span>
                    </div>
                </div>
                <span>-$400</span>
            </div>
            <div class="flex justify-between">
                <div class="flex gap-2">
                    <img src="../../assets/circle3.jpg" alt="" class="h-7 w-7
                        rounded-full">
                    <div class="flex flex-col">
                        <span class="font-medium text-base">Centeral Beran</span>
                        <span class="text-xs font-normal ">Cafe and resturent</span>
                    </div>
                </div>
                <span>-$400</span>
            </div>
            <div class="flex justify-between">
                <div class="flex gap-2">
                    <img src="../../assets/circle3.jpg" alt="" class="h-7 w-7
                        rounded-full">
                    <div class="flex flex-col">
                        <span class="font-medium text-base">Centeral Beran</span>
                        <span class="text-xs font-normal ">Cafe and resturent</span>
                    </div>
                </div>
                <span>-$400</span>
            </div>
            <div class="flex justify-between">
                <div class="flex gap-2">
                    <img src="../../assets/circle3.jpg" alt="" class="h-7 w-7
                        rounded-full">
                    <div class="flex flex-col">
                        <span class="font-medium text-base">Centeral Beran</span>
                        <span class="text-xs font-normal ">Cafe and resturent</span>
                    </div>
                </div>
                <span>-$400</span>
            </div>
            <div class="flex justify-between">
                <div class="flex gap-2">
                    <img src="../../assets/circle3.jpg" alt="" class="h-7 w-7
                        rounded-full">
                    <div class="flex flex-col">
                        <span class="font-medium text-base">Centeral Beran</span>
                        <span class="text-xs font-normal ">Cafe and resturent</span>
                    </div>
                </div>
                <span>-$400</span>
            </div>
            <div class="bg-black text-white p-3 flex flex-col justify-between
                gap-3">
                <div class="flex justify-between">
                    <span class="font-medium">Quick Transfer</span>
                    <div class="flex gap-2 ">
                        <mat-icon>arrow</mat-icon>
                        <mat-icon>arrow</mat-icon>
                    </div>
                </div>
                <div class="flex justify-between text-[10px] font-light h-full">
                    <div class="flex flex-col">
                        <img src="../../assets/circle2.png" alt=""
                            class="rounded-full h-9 w-9">
                        <span> Sunita <br>Adhikari</span>
                    </div>
                    <div class="flex flex-col">
                        <img src="../../assets/circle2.png" alt=""
                            class="rounded-full h-9 w-9">
                        <span> Sunita <br>Adhikari</span>
                    </div>
                    <div class="flex flex-col">
                        <img src="../../assets/circle2.png" alt=""
                            class="rounded-full h-9 w-9">
                        <span> Sunita <br>Adhikari</span>
                    </div>
                    <div class="flex flex-col">
                        <img src="../../assets/circle2.png" alt=""
                            class="rounded-full h-9 w-9">
                        <span> Sunita <br>Adhikari</span>
                    </div>
                    <div class="flex flex-col">
                        <img src="../../assets/circle2.png" alt=""
                            class="rounded-full h-9 w-9">
                        <span> Sunita <br>Adhikari</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>