<div class="mx-3 my-5 max-w-full overflow-hidden">
    <div class="flex justify-between">
        <span class="text-2xl font-medium text-gray-600">Investments</span>
        <div class="flex gap-2">
            <mat-icon>notification</mat-icon>
            <img src="../../assets/circle2.png" alt="image" class="rounded-full
                h-7 w-7">
            <span class="text-sm font-medium text-center justify-center
                items-center
                "> John Doe</span>
        </div>
    </div>
    <div class="flex justify-between w-full ">
        <div class="flex flex-col w-[60%]">
            <select name="account" id="" class="bg-black px-2 py-1 text-white
                mt-6 mb-4
                w-fit">
                <option value="account1">Checking Account</option>
                <option value="account"> Option 2</option>
                <option value="account2">Option3</option>
                <option value="account3">Option3</option>
            </select>
            <div class="flex justify-between w-full">
                <div class="flex gap-5 bg-black w-[55%]">
                    <div class="flex flex-col text-white text-base
                        font-medium
                        py-3
                        px-4
                        gap-3 w-full
                        ">
                        <div class="flex justify-between ">
                            <span>Checking Account</span>
                            <span class="text-green-700">25%</span>
                        </div>
                        <span class="text-xs font-medium">Balance</span>
                        <span class="text-2xl font-bold text-green-300">USD
                            10,000.00</span>
                        <div class="flex flex-col gap-2">
                            <span>Available</span>
                            <span class="
                                text-green-300 text-xl font-medium">USD
                                8000.00</span>
                        </div>
                        <hr class="bg-gray-600">
                        <div class="flex justify-between gap-8">
                            <div class="flex flex-col">
                                <span class="text-green-500 text-base
                                    font-medium">Income</span>
                                <span class="text-white font-medium
                                    text-lg">USD
                                    30,000.00</span>
                            </div>
                            <div class="border-1-2 border-gray-500 h-10
                                divide-gray-500"></div>
                            <div class="flex flex-col">
                                <span class="text-red-400 text-base
                                    font-medium">Expenses</span>
                                <span class="text-white font-medium
                                    text-lg">USD
                                    20,000.00</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col bg-orange-300 pt-20 px-4 w-[40%]
                    rounded-md">
                    <div class="gap-2 flex flex-col">
                        <div class="text-base font-normal">Available Balance</div>
                        <span class="text-lg font-medium">USD 10,000.00</span>
                    </div>
                    <div class="gap-2 flex flex-col pt-14">
                        <div class="text-base font-medium">1111****
                            ****00000</div>
                        <div class="flex justify-between text-sm
                            font-mdeium">
                            <span>Unicoal Rich</span>
                            <span>12/24</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex justify-between pt-8 pb-5">
                <span class="text-xl font-medium">Spending overview</span>
                <div class="flex gap-1 px-6">
                    <mat-icon>arrow-left</mat-icon>
                    <mat-icon>arrow-right</mat-icon>
                </div>
            </div>
            <div class="bg-gray-200 h-64 px-3 py-4">
                <div class="flex justify-between">
                    <span class="font-medium text-lg">Statistics</span>
                    <select name="weekly" id="" class="px-2 py-1 text-sm
                        font-normal border-black bg-gray-200 border-[1px]">
                        <option value="weekly">Weekly</option>
                        <option value="monthly">Monthly</option>
                        <option value="yearly">Yearly</option>
                    </select>
                </div>
            </div>
            <div class="bg-purple-300 my-5 px-3 py-4 h-64">
                <div class="flex justify-between">
                    <span class="font-medium text-lg">Top Categories</span>
                    <select name="days" id="" class="px-2 py-1 text-sm
                        font-normal border-black bg-purple-300
                        border-[1px]">
                        <option value="last-20-days">Last 20 days</option>
                        <option value="last-10-days">Last 10 days</option>
                        <option value="last-7-days">Last 7 days</option>
                        <option value="last-30-days">Last 30 days</option>
                        <option value="last-60-days">Last 60 days</option>
                    </select>
                </div>
                <span class="text-base font-light">1/1-31/1 2023</span>
            </div>
        </div>
        <div class="flex flex-col w-[35%] gap-4">
            <div class="flex justify-between">
                <span class="text-lg font-medium">Transactions</span>
                <mat-icon>filter</mat-icon>
            </div>
            <div class="w-full flex">
                <input type="text" placeholder="search " class="px-2 py-1
                    border-gray-300 border-[1px] w-[90%]">
                <div class=" h-full bg-gray-400 w-[10%]">
                    <mat-icon class=" bg-gray-400 px-2 py-1">search</mat-icon>
                </div>
            </div>
            <div class="flex gap-2 text-base font-medium">
                <span>All</span>
                <span>Expenses</span>
                <span>Income</span>

            </div>
        </div>
    </div>
