
<div class="mx-3 my-5 max-w-full overflow-hidden">
    <div class="flex justify-between">
        <span class="text-2xl font-medium text-gray-600">Accounts and Cards</span>
        <div class="flex gap-2">
            <mat-icon>notification</mat-icon>
            <img src="../../assets/circle2.png" alt="image" class="rounded-full
                h-7 w-7">
            <span class="text-sm font-medium text-center"> John Doe</span>
        </div>
    </div>
    <span class="flex py-8 font-medium text-base">My accounts</span>
    <div class="flex justify-between text-sm font-medium text-white w-full">
        <div class=" bg-black w-[31%]">
            <div class="flex flex-col p-4 gap-5">
                <div class="flex justify-between">
                    <div class="text-lg font-semibold">Checking Account</div>
                    <span class="text-green-500">2.3%</span>
                </div>
                <span class="text-xs">Available balance</span>
                <span class="text-green-200 text-xl font-semibold">USD 10,000.00</span>
                <hr class="bg-gray-400">
                <div class="flex flex-col gap-1">
                    <span>IBAN</span>
                    <span>AB11 0000 0000 1111 1111</span>
                </div>
                <div class="flex flex-col gap-1">
                    <span>Account owner</span>
                    <span class="text-lg font-medium">Nicola Rich</span>
                </div>
            </div>
            <button class="bg-purple-400 py-2 text-center w-full text-black
                text-base font-medium">See
                details</button>
        </div>
        <div class=" bg-black w-[31%]">
            <div class="flex flex-col p-4 gap-5">
                <div class="flex justify-between">
                    <div class="text-lg font-semibold">Checking Account</div>
                    <span class="text-green-500">3.3%</span>
                </div>
                <span class="text-xs">Available balance</span>
                <span class="text-green-200 text-xl font-semibold">USD 20,000.00</span>
                <hr class="bg-gray-400">
                <div class="flex flex-col gap-1">
                    <span>IBAN</span>
                    <span>AB11 0000 0000 1111 1111</span>
                </div>
                <div class="flex flex-col gap-1">
                    <span>Account owner</span>
                    <span class="text-lg font-medium">Mr. Pokharel</span>
                </div>
            </div>
            <button class="bg-purple-400 py-2 text-center w-full text-black
                text-base font-medium">See
                details</button>
        </div>
        <div class=" bg-black w-[31%]">
            <div class="flex flex-col p-4 gap-5">
                <div class="flex justify-between">
                    <div class="text-lg font-semibold">Checking Account</div>
                    <span class="text-green-500">2.3%</span>
                </div>
                <span class="text-xs">Available balance</span>
                <span class="text-green-200 text-xl font-semibold">USD 80,000.00</span>
                <hr class="bg-gray-400">
                <div class="flex flex-col gap-1">
                    <span>IBAN</span>
                    <span>AB11 0000 0000 1111 1111</span>
                </div>
                <div class="flex flex-col gap-1">
                    <span>Account owner</span>
                    <span class="text-lg font-medium">Sunita Adhikari</span>
                </div>
            </div>
            <button class="text-base font-medium bg-purple-400 py-2 text-center
                w-full text-black">See
                details</button>
        </div>
    </div>
    <div class="flex flex-col py-9">
        <span class="text-2xl font-medium text-gray-600 py-7">My cards</span>
        <div class="flex justify-between w-full gap-4">
            <div class="flex flex-col w-[50%] bg-gray-100 ">
                <div class="flex m-3">
                    <div class="flex flex-col justify-between md:gap-11
                        bg-orange-200 px-3
                        py-6 align-text-bottom rounded-md w-[45%]">
                        <div></div>
                        <div class="flex flex-col gap-1">
                            <span class="font-medium text-sm">Available Balance</span>
                            <span class="font-semibold text-xl">USD 10,000.000</span>
                        </div>
                        <div class="flex flex-col gap-1">
                            <span>1111 **** **** 0000</span>
                            <div class="flex justify-between font-medium
                                text-sm">
                                <span>Nicola Rich</span>
                                <span>12/24</span>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col rounded-md px-3 py-6 w-[55%]
                        gap-4">
                        <span class=" text-base font-medium">Credit Card </span>
                        <hr class="bg-black w-full h-[2px]">
                        <div class="flex flex-col gap-1">
                            <span class="text-sm font-medium ">Type</span>
                            <div class="flex gap-6 items-center ">
                                <span class="text-sm font-medium">Physical</span>
                                <div class="flex gap-1 items-center ">
                                    <div class="flex items-center justify-center
                                        bg-green-500 h-2 w-2 rounded-full "></div>
                                    <span class="text-xs font-light">Active</span>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col gap-1 font-medium">
                            <span class="text-sm">Card number</span>
                            <span class="text-lg">1111 0000 1100 0000</span>
                        </div>
                        <div class="flex flex-col ">
                            <span class="font-medium text-sm">Expiration date</span>
                            <div class="flex gap-3">
                                <span class="text-sm font-medium">12/24</span>
                                <div class="flex gap-1 items-center">
                                    <div class="flex iteems-center
                                        justify-center
                                        bg-red-500 h-2 w-2 rounded-full"></div>
                                    <span class="text-xs font-lightmedium">1
                                        month
                                        left</span>
                                </div>

                            </div>
                        </div>
                        <div class="flex flex-col">
                            <span class="text-sm font-medium">CVC</span>
                            <div class="flex gap-3">
                                <span>***</span>
                                <div class="flex gap-1 items-center">
                                    <mat-icon class="flex items-center
                                        justify-center">key</mat-icon>
                                    <span class="text-xs font-lightmedium">Premission
                                        required</span>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <button class="bg-purple-400 text-center py-1 text-base
                    font-medium"> Save details</button>
            </div>
            <div class="flex flex-col w-[50%] bg-gray-100 ">
                <div class="flex m-3">
                    <div class="flex flex-col justify-between md:gap-11
                        bg-blue-300 px-3
                        py-6 align-text-bottom rounded-md w-[45%]">
                        <div></div>
                        <div class="flex flex-col gap-1">
                            <span class="font-medium text-sm">Available Balance</span>
                            <span class="font-semibold text-xl">USD 10,000.000</span>
                        </div>
                        <div class="flex flex-col gap-1">
                            <span>1111 **** **** 0000</span>
                            <div class="flex justify-between font-medium
                                text-sm">
                                <span>Nicola Rich</span>
                                <span>12/24</span>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col rounded-md px-3 py-6 w-[55%]
                        gap-4">
                        <span class=" text-base font-medium">Debit Card </span>
                        <hr class="bg-black w-full h-[2px]">
                        <div class="flex flex-col gap-1">
                            <span class="text-sm font-medium ">Type</span>
                            <div class="flex gap-6 items-center ">
                                <span class="text-sm font-medium">Physical</span>
                                <div class="flex gap-1 items-center ">
                                    <div class="flex items-center justify-center
                                        bg-green-500 h-2 w-2 rounded-full "></div>
                                    <span class="text-xs font-light">Active</span>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col gap-1 font-medium">
                            <span class="text-sm">Card number</span>
                            <span class="text-lg">1111 0000 1100 0000</span>
                        </div>
                        <div class="flex flex-col ">
                            <span class="font-medium text-sm">Expiration date</span>
                            <div class="flex gap-3">
                                <span class="text-sm font-medium">12/24</span>
                                <div class="flex gap-1 items-center">
                                    <div class="flex iteems-center
                                        justify-center
                                        bg-red-500 h-2 w-2 rounded-full"></div>
                                    <span class="text-xs font-lightmedium">1
                                        month
                                        left</span>
                                </div>

                            </div>
                        </div>
                        <div class="flex flex-col">
                            <span class="text-sm font-medium">CVC</span>
                            <div class="flex gap-3">
                                <span>***</span>
                                <div class="flex gap-1 items-center">
                                    <mat-icon class="flex items-center
                                        justify-center">key</mat-icon>
                                    <span class="text-xs font-lightmedium">Premission
                                        required</span>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <button class="bg-purple-400 text-center py-1 text-base
                    font-medium"> Save details</button>
            </div>
        </div>
    </div>
</div>